<div ng-controller="getSpecificMovieController as movieCtrl">

    <div class=row>

        <div class="col-xs-12 col-sm-3 col-md-3"></div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="movie-poster" ng-repeat="poster in movieCtrl.movies.media | filter:{type:'POSTER'}">
                <img src='{{poster.url}}' class="img-responsive">
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="Logo"><h2> {{movieCtrl.movies.title}}</h2></div>
            <div class="Sypnosis">{{movieCtrl.movies.description}}</div>
            <div class="Cast">Cast: {{movieCtrl.movies.cast}}</div>
            <div class="MovieLength">Length: {{movieCtrl.movies.length}}</div>
            <div class="Year">Release Date: {{movieCtrl.movies.year}}</div>
            <div><a ui-sref="#trailerModal" data-toggle="modal" data-target="#trailerModal" id="trailer">
                Trailer: <img src="http://www.clipartbest.com/cliparts/yck/gnM/yckgnMkMi.png" width="40px"
                              height="25px"/> </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3"></div>
    </div>

    <div>
        <h2> Showings </h2>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table-striped">




            <tr>
                <th><h5>Date</h5></th>
                <th><h5>Start Time</h5></th>

            </tr>
            <tr ng-repeat="showing in movieCtrl.showings">

                <!--<script>-->
                    <!--var epochToCurrent = {{showing.dateShowing}}-->
                    <!--moment.unix(epochToCurrent).format("DD/MM/YYYY")-->
                <!--</script>-->

                <td><h5></h5></td>
                <td><h5>{{showing.movie.title}}</h5></td>
            </tr>
        </table>

            <div class="modal fade" id="trailerModal" tabindex="-1" role="dialog" aria-labelledby="myModal"
                 ng-controller="getMediaController as mediaCtrl">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true" ng-click="callPlayer('yt-player', 'stopVideo');">×
                            </button>
                            <h4 class="modal-title">{{movieCtrl.movies.title}} Trailer</h4>
                        </div>
                        <div class="modal-body" id="yt-player" ng-repeat="trailer in movieCtrl.movies.media | filter:{type:'TRAILER'}">
                            <iframe id='video' width="100%" height="700px" src="{{trailer.url}}" frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
    </div>

</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        /* Get iframe src attribute value i.e. YouTube video url
         and store it in a variable */
        var url = $("#video").attr('src');

        /* Assign empty url value to the iframe src attribute when
         modal hide, which stop the video playing */
        $("#trailerModal").on('hide.bs.modal', function () {
            $("#video").attr('src', '');
        });

        /* Assign the initially stored url back to the iframe src
         attribute when modal is displayed again */
        $("#trailerModal").on('show.bs.modal', function () {
            $("#video").attr('src', url);
        });
    });
</script>


<style>

    #trailerModal .modal-dialog {
        width: 70%;

        margin-right: auto;
        margin-left: auto;
        padding-top: 50px;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: auto;
        margin-right: auto;
    }


    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    button.accordion.active, button.accordion:hover {
        background-color: #ddd;
    }

    /* Style the accordion panel. Note: hidden by default */
    div.panel {
        padding: 0 18px;
        background-color: white;
        display: none;
    }
</style>

