<div ng-controller="getSpecificMovieController as movieCtrl">
    <div ng-controller="getShowingController as ctrl">


        <div class=row>

            <div class="col-xs-12 col-sm-3 col-md-3"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="movie-poster" ng-repeat="poster in movieCtrl.movies.media | filter:{type:'POSTER'}">
                    <img src='{{poster.url}}' class="img-responsive">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="Logo"><h2> {{movieCtrl.movies.title}}</h2></div>
                <div class="Synopsis">{{movieCtrl.movies.description}}</div>
                <div class="Cast">Cast: {{movieCtrl.movies.cast}}</div>
                <div class="MovieLength">Length: {{movieCtrl.movies.length}}</div>
                <div class="Year">Release Date: {{movieCtrl.movies.year}}</div>
                <div><a ui-sref="#trailerModal" data-toggle="modal" data-target="#trailerModal" id="trailer">
                    Trailer: <img src="http://www.clipartbest.com/cliparts/yck/gnM/yckgnMkMi.png" width="40px"
                                  height="25px"/> </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
        </div>

        <div class="Showings">

            <h1>Showings</h1>

            <input id="movieId" placeholder="movieId" ng-model="showing.movieId">

            <table class="table table-striped">

                <tr ng-repeat="showing in ctrl.showings">
                    <td id="dayShowing">{{showing.dateShowing}}</td>
                </tr>

            </table>


        </div>


        <!--<div class="container-fluid">-->

        <!--<div class="ShowingsOld">-->

        <!--<select ng-model="showing.idShowing" ng-disabled="!chosenMovie.id">-->
        <!--<option value="" disabled selected>Select Showing</option>-->
        <!--<option ng-repeat="showing in showingCtrl.showings" value="{{showing.id}}">-->
        <!--{{showing.dateTime}}-->
        <!--</option>-->
        <!--</select>-->

        <!--<table class="table table-striped">-->
        <!--<option value="" disabled selected>Showings for this Movie</option>-->
        <!--<tr ng-repeat="showing in showingCtrl.showings" value="{{showing.id}}">-->
        <!--{{showing.dateTime}}-->
        <!--<td id="dayShowing">{{showing.dateTime}}</td>-->
        <!--<td>{{showing.screen.screenId}}</td>-->
        <!--<td>{{showing.movie.title}}</td>-->
        <!--<td>{{showing.movie.length}}</td>-->
        <!--<td>{{showing.movie.classification}}</td>-->
        <!--</tr>-->

        <!--</table>-->

        <!--<tr ng-repeat="showing in showingCtrl.showings" value="{{showing.id}}">{{showing.dateTime}}>-->

        <!--</tr>-->

        <!--</div>-->

        <!--</div>-->


        <!--<ul>-->
        <!--<li ng-repeat="e in showings | filter: {showings: {movie: chosenMovie.title}}">-->
        <!--{{e.movie.title}}-->
        <!--</li>-->
        <!--</ul>-->
        <!--<table class="table table-striped">-->
        <!--<tr ng-repeat="showings in showingCtrl">-->
        <!--<td ng-repeat="showings in showings.movies">{{showings.id}}</td>-->
        <!--<td ng-repeat="showings in showings.movies">{{showings.dateTime}}</td>-->
        <!--</tr>-->
        <!--</table>-->

        <!--</div>-->




            <div class="modal fade" id="trailerModal" tabindex="-1" role="dialog" aria-labelledby="myModal"
                 ng-controller="getMediaController as mediaCtrl">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true" ng-click="callPlayer('yt-player', 'stopVideo');">×
                            </button>
                            <h4 class="modal-title">{{movieCtrl.movies.title}} Trailer</h4>
                        </div>
                        <div class="modal-body" id="yt-player" ng-repeat="trailer in movieCtrl.movies.media | filter:{type:'TRAILER'}">
                            <iframe id='video' width="100%" height="700px" src="{{trailer.url}}" frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>

    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        /* Get iframe src attribute value i.e. YouTube video url
         and store it in a variable */
        var url = $("#video").attr('src');

        /* Assign empty url value to the iframe src attribute when
         modal hide, which stop the video playing */
        $("#trailerModal").on('hide.bs.modal', function () {
            $("#video").attr('src', '');
        });

        /* Assign the initially stored url back to the iframe src
         attribute when modal is displayed again */
        $("#trailerModal").on('show.bs.modal', function () {
            $("#video").attr('src', url);
        });
    });
</script>


<style>

    #trailerModal .modal-dialog {
        width: 70%;

        margin-right: auto;
        margin-left: auto;
        padding-top: 50px;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: auto;
        margin-right: auto;
    }

    /*.custom-header {*/
    /*text-decoration: underline;*/
    /*text-align: left;*/
    /*color: #1b6d85;*/
    /*font-size: x-large;*/
    /*font-weight: bold;*/
    /*}*/

    /*.movie-poster {*/
    /*margin-bottom: 40px;*/
    /*width: 55%;*/
    /*align-content: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*}*/

    /* Style the buttons that are used to open and close the accordion panel */
    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    button.accordion.active, button.accordion:hover {
        background-color: #ddd;
    }

    /* Style the accordion panel. Note: hidden by default */
    div.panel {
        padding: 0 18px;
        background-color: white;
        display: none;
    }
</style>

