<div ng-controller="getMovieController as ctrlMov">

    <div class=container>
        <div class="ourMovies">
            <h1>Our Movies</h1>
    	</div>

		<div class="col-lg-12">
	        <hr>
	        <h2>Out Now</h2>
	        <!-- {{ctrlMed.getSingleMedia(1,"poster")}} -->
	        <div ng-repeat="movie in ctrlMov.movies | filter:{outNow:true}">
	            <div ng-repeat="poster in movie.media | filter:{type:'POSTER'}">
	                <div class="col-xs-12 col-sm-6 col-md-3">
	                    <img ui-sref="getspecificmovie({movieId:{{movie.id}}})" align="middle" ng-src='{{poster.url}}'
	                         class="img-responsive"
	                         style="width: 250px; height: 368px;"/>
	                    <div class="movieTitle">
	                        <h4>{{movie.title}}</h4>
	                        {{movie.classification.url}}
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	
	
		<div class="col-lg-12">
	        <div class="ourMovies" name="comingSoon">
	            <h2>Coming Soon</h2>
	        </div>
	
	        <!-- {{ctrlMed.getSingleMedia(1,"poster")}} -->
	        <div ng-repeat="movie in ctrlMov.movies | filter:{outNow:false}">
	            <div ng-repeat="poster in movie.media | filter:{type:'POSTER'}">
	                <div class="col-xs-12 col-sm-6 col-md-3">
	                    <img ui-sref="getspecificmovie({movieId:{{movie.id}}})" align="middle" ng-src='{{poster.url}}'
	                         class="img-responsive"
	                         style="width: 250px; height: 368px;"/>
	                    <div class="movieTitle">
	                        <h4>{{movie.title}}</h4>
	                        {{movie.classification.url}}
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>


<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-left: auto;
        margin-right: auto;
    }

    .ourMovies {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .movieTitle {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    img.img-responsive {
        opacity: 0.75;
        filter: alpha(opacity=75); /* For IE8 and earlier */
        transition: all 1s ease;
        
    }

    img.img-responsive:hover {
        opacity: 1.0;
        transition: transform 0.5s linear, box-shadow 0.5s linear;
        filter: alpha(opacity=100); /* For IE8 and earlier */
        box-shadow: 0 0 100px 1px rgba(100, 100, 100, .4);
        transform: scale(1.05);
        cursor: pointer;
    }

    #background-carousel {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .carousel, .carousel-inner {
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
    }

    .item {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        z-index: 0;
    }

    #content-wrapper {
        position: absolute;
        z-index: 1 !important;
        min-width: 100%;
        min-height: 100%;
    }

    video#bgvid {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }

</style>



