<div ng-controller="getMovieController as ctrl">

    <br/><br/>

    <div class=container>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators" ng-repeat="movie in ctrl.movies">
                    <li data-target="#myCarousel" data-slide-to="$index" ng-class="{'active': $index == 0}"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-class="{active:!$index}" ng-repeat="movie in ctrl.movies">
                        <img ng-src='{{movie.posterURL}}' style=width:182px;height:268px;/>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </div>

    <div class = container>
        <div class = "OurMovies">Our Movies</div>
            <div class = row>
                <div ng-repeat="movie in ctrl.movies">
                    <div class="col-md-3">
                        <img src='{{movie.posterURL}}' style=width:182px;height:268px;/>
                        <div>{{movie.title}}</div>
                    </div>
                </div>
        </div>
    </div>

</div>

