<div ng-controller="addShowingController as showingCtrl">
    <div ng-controller="getMovieController as movieCtrl">

        <div class="col-md-6">
            <div>
                Film:
                <select ng-model="chosenMovie"
                        ng-options="movie.title for movie in movieCtrl.movies">
                </select>
            </div>

            <div>
                Date:
                <select ng-model="chosenDate"
                        ng-options="date.value for date in showingCtrl.dates">
                </select>
            </div>

            <div>
                Time:
                <select ng-model="chosenTime"
                        ng-options="time.value for time in showingCtrl.showTimes">
                </select>
            </div>

            <div>
                <Button class="alertButton btn btn-primary"
                        ng-click="showingCtrl.addShowing(chosenMovie, chosenDate, chosenTime)"> Submit
                </Button>
            </div>


        </div>


        <div class="col-md-6 ">
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>{{showingCtrl.message}}</strong>
                <div>
                    <p>Movie: {{showingCtrl.showing.movie.title}} </p>
                    <p>Date: {{showingCtrl.date}}</p>
                    <p>Time: {{showingCtrl.time}}</p>
                    <p>Screen: {{showingCtrl.showing.screen.screenId}}</p>
                </div>
            </div>

        </div>

        <script>
            $(".alertButton").on("click", function () {
                $(".alert").fadeIn(500);
            });

        </script>

    </div>

    <style>
        select {
            background: black;
        }

    </style>
</div>

