<div ng-controller="addShowingController as showingCtrl">
    <div ng-controller="getMovieController as movieCtrl">

        <div>
            Film:
            <select ng-model="ChosenMovie"
                    ng-options="movie.title for movie in movieCtrl.movies">
            </select>
        </div>

        <div>
            Date:
            <select ng-model="chosenTime"
                    ng-options="date.value for value in showingCtrl.showTimes">
            </select>
        </div>


        <div>
            Time:
            <select ng-model="chosenDate"
                    ng-options="time.value for time in showingCtrl.showTimes">
            </select>
        </div>

    </div>
</div>