@CHARSET "UTF-8";
/* ///////////////////////////// CONTACT FORM SPECIFIC ///////////////////////////// */

 textarea{
	resize: none;
}

#ContactUs .modal-footer{
	padding-right: 15px;
}

#subButton {
	background: #F6F6F6;
	color: #1C1C1C;
	border: #F6F6F6;
	font-weight: bold;
}

#subButton:active, #subButton:hover, #subButton:focus{
	background: #1C1C1C;
	color: #F6F6F6;
	border: #1C1C1C;
	font-weight: bold;

}


/* ///////////////////////////// MODAL GENERIC ///////////////////////////// */

/* REMOVE ROUNDED CORNERS OF INPUT BOXES */
.modal-dialog .form-control {
	border-radius: 0px;
}

/* REMOVE HIGHLIGHT FROM INPUT BOX WHEN IN ACTION */
.modal-dialog .form-control:active, .modal-dialog .form-control:focus {
	border-color: #F6F6F6;
}

/* [WORKS] SET THE BACKGROUND FADE COLOUR AND OPACITY */ 
.modal-backdrop.in {
	 
	opacity: 0.8 !important;
}


/* [WORKS] GENERAL MODAL SETTINGS */
.modal-dialog .modal-content {
	background: #1C1C1C;
	color: #F6F6F6;
}

/* [WORKS] X TO CLOSE ICON */
.modal-dialog .close { /* x button to close */
	color: #F6F6F6;
	opacity: 0.5;
}

/* [DOESN'T WORK] BROWSER SCROLLBAR DISAPPEARS - DONT KNOW WHY OR HOW TO FIX */
.modal-open {
	overflow: hidden;
}

/* [WORKS] MODAL TITLE TEXT */
.modal-title {
	padding-left: 15px;
	font-weight: bold;
}

/* [DOESN'T WORK] FOOTER PADDING FROM RIGHT */
.modal-footer {
	padding-right: 30px;
}

/* [DOESN'T WORK] DIMENSIONS OF MODAL BOX */
#LogInModal .modal-content, #ContactUs .modal-content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 500px;
	border-color: black;
	border-radius: 1px;
}

/* INDENT RIGHT-ALIGNED BITS --------only indents the text boxes for input */
#LogInModal .form-group, .text-right, #ContactUs .form-group, .text-right {
	padding-left: 15px;
	padding-right: 15px;
}


/* ///////////////////////////// LOG IN FORM SPECIFIC  ///////////////////////////// */

/* FORGOTTEN PASSWORD TEXT */
.modal-dialog .text-right a {
	color: #F6F6F6;
}

/* [WORKS] CLOSE BUTTON IN FOOTER */
.btn { 
	color: #F6F6F6;
}

/* [DOESN'T WORK] CLOSE BUTTON IN FOOTER */
#closeButton:hover {
	color: #F6F6F6;
	text-decoration: underline;
}

/* [WORKS] LOG-IN BUTTON */
.modal-footer .btn-primary { 
	border: 0 none;
	color: black;
	background: #F6F6F6;
	font-weight: bold;
}

/* [WORKS] MOVE LOGIN AND CLOSE BUTTONS IN LINE */
.modal-content .modal-footer {
	padding-right: 30px;
}

/* [WORKS] LOG-IN BUTTON ROLLOVER */
.modal-footer .btn-primary:hover {
	background: black;
}

/* [DOESN'T WORK] TO CHANGE LOG-IN BUTTON CLICK COLOUR */
.modal-footer .btn-primary:active { 
	background: white;
}