<div ng-controller="paymentController as payCtrl">

    <form name="paymentForm">
        <div>
            <span>Enter Paypal Email<input ng-model="set.paypal" ng-change="payCtrl.update('paypal',set.paypal)"></span>
            <span>Enter User Email<input ng-model="set.user" ng-change="payCtrl.update('user',set.user)"></span>
        </div>

        <div>
            <div>
                Adult: <select ng-model="set.adult" ng-options="option.value for option in payCtrl.options"
                        ng-change="payCtrl.update('adult',set.adult)">
                </select>
            </div>

            <div>
                Child: <select ng-model=" set.child" ng-options="option.value for option in payCtrl.options"
                        ng-change="payCtrl.update('child',set.child)">
                </select>
            </div>

            <div>
                Concession: <select ng-model="set.cons" ng-options="option.value for option in payCtrl.options"
                        ng-change="payCtrl.update('cons',set.cons)">
                </select>
            </div>

            <div>
                Premium: <select ng-model=" set.prem" ng-options="option.value for option in payCtrl.options"
                        ng-change="payCtrl.update('prem',set.prem)">
                </select>
            </div>
        </div>

        <div>
            <h3>Subtotal</h3>
            <p> Adult Tickets (x{{payCtrl.numAdults}}): &pound;{{payCtrl.numAdults*9.99}}</p>
            <p> Child Tickets (x{{payCtrl.numChild}}): &pound;{{payCtrl.numChild*5.99}}</p>
            <p> Concession Tickets
                (x{{payCtrl.numCons}}): &pound;{{payCtrl.numCons*7.49}}</p>
            <p> Premium Tickets (x{{payCtrl.numPremium}}): &pound;{{payCtrl.numPremium*12.99}}</p>
            <h2>Total Price: &pound;{{payCtrl.total}}</h2>

            <table class="table">
                <tr>
                    <th>User Email Valid?</th>
                    <th>PayPal Email Valid?</th>
                    <th>At least One Ticket?</th>
                </tr>
                <tr>
                    <td><img id="uEVerified" src="_images/cross.png" width="80"></td>
                    <td><img id="pEVerified" src="_images/cross.png" width="80"></td>
                    <td><img id="nonZeroTickets" src="_images/cross.png" width="80"></td>
                </tr>
            </table>

            <div id="paypal-button">
            </div>
        </div>
    </form>


</div>
<style>
    button:disabled {
        background: #f5f5f5;
        color: red;
    }

    input:required {
        background: yellowgreen;
    }

    .table {
        width:50%;
    }
</style>