<div ng-controller="updateBookingController as ctrl">

    <div ng-controller="getBookingController as getctrl">

        <table class="table table-striped">


            <tr>
                <th>Booking Id</th>
                <th>Booked On</th>
                <th>Account Email</th>
                <th>Payment Email</th>
                <th>Ticket ID's</th>
                <th>Movie</th>
                <th>Seat</th>
            </tr>
            <tr ng-repeat="booking in getctrl.bookings">
                <td>{{booking.bookingId}}</td>
                <td id="datebooked">{{booking.dateBooked | date:'dd MMM yyy HH:mm'}}</td>
                <td>{{booking.userEmail}}</td>
                <td>{{booking.paymentEmail}}</td>

                <td><p ng-repeat="ticket in booking.tickets">{{ticket.id}}</p></td>
                <td><p ng-repeat="ticket in booking.tickets">{{ticket.showing.movie.title}}</p></td>
                <td><p ng-repeat="ticket in booking.tickets">{{ticket.seat}}</p></td>


            </tr>

        </table>

        <h5>Select Booking to Update</h5>
        <select
                ng-model="selectedId"
                ng-options="booking as booking.bookingId for booking in getctrl.bookings">Select...</select>

        <form role="form">

            <input id="paymentEmail" placeholder='{{selectedId.paymentEmail}}' ng-model="booking.paymentEmail" ng-value='{{selectedId.paymentEmail}}'>
            <input id="userEmail" placeholder='{{selectedId.userEmail}}' ng-model="booking.userEmail">

            <button type="submit" ng-click="ctrl.addBooking(booking)">Add Booking</button>


        </form>

    </div>



</div>