<link rel="stylesheet" url="Seating.css" media="screen">
<h1>
    Please select your seat
</h1>

<script>
    function trclick() {
        console.log('tr clicked')
    }
    ;

    function tdclick(event, seat) {
        console.log('td clicked', seat);
        event.stopPropagation()
    }
    ;
</script>

<div ng-controller="getShowingController as showingCtrl" class="container-fluid">
    <div>
        <select ng-model="chosenScreen"
                ng-options="showing.id for showing in showingCtrl.showings "     >
        </select>
    </div>
    <div class="table-container" id="seats" style="width:800px">
        <div class="col-md-6" ng-repeat="v in [0,1,2,3] | limitTo:showing.screen.block.rowCount">

            <table style="width:400px; table-layout: fixed;" class="table  table-bordered" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19] | limitTo:block.colCount:block.colCount ">
                <tr ng-repeat="block in chosenScreen.screen.blocks | limitTo:1:v">
                    <td style="cursor: pointer; text-align: center;" onclick='tdclick(event,this.innerText)'
                        ng-repeat="seat in block.seats | limitTo:block.colCount:block.colCount*i">
                        {{seat.row}}{{seat.column}}
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

